.status-bar{
    position:fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content:center;
    padding:5px 3px;
    background-color: black;
}
.status-bar_column{
    display: flex;
    align-items: center;
    width:33%;
}
.status-bar_column:first-child{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}
.status-bar_column:first-child i{
    margin-right:2px;
}
.status-bar_column:first-child span{
    margin-right:10px;
}
.status-bar_column:nth-child(2){
    justify-content: center;
}
.status-bar_column:last-child{
    justify-content: flex-end;
    align-items: center;
    margin-right:10px;
}
.status-bar_column:last-child span{
    margin-right:5px;
}