.user{
    display:flex;
    align-items: center;
}
.user_photo{
    display: flex;
    margin:25px 0px 0px 30px;
}
.user_photo-icon{
    background-color: rgb(175, 174, 174);
    padding:18px 23px;
    border-radius: 50%;
}

.user_plus{
    position:absolute;
    left:105px;
    top:170px; 
}
.fa-plus{
    padding:7px 8px;
    border-radius: 50%;
    border:solid;
    border-color:black ;
    border-width:2px;
    background-color: rgb(48, 140, 245);
}
.user-follower{
    display: flex;
    align-items: center;
    margin:20px 0 0 55px;
}
.user-follower_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:55px;
    font-size:15px;
}
.user-follower_count{
    margin-bottom:5px;
    font-size:20px;
    font-weight:500;
}
#user-explain{
    margin:16px 0 0 25px;
    font-size:18px;
}
#profile-edit{
    border:solid;
    border-width: thin;
    border-color:rgba(228, 133, 8, 0.253);
    margin:15px 20px;
    padding:10px 0 13px 0;
    text-align: center;
    border-radius: 5px;
}
.user-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:25px;
}
.user-menu_column:last-child{
    color:gray;
}
.user-menu_choice{
    margin-top:13px;
    background-color: whitesmoke;
    height:1px;
    width:49%;
}
#profile-addition{
    margin:15px 0 0 15px;
    font-size:18px;
}
#profile-addition div{
    margin-top:7px;
    font-size:14px;
    color:gray;
}
#profile-addition_progress{
    color:orange;
    font-size:12px;
    margin-left:2px;
}
.profile-add{
    display: flex;
    margin-top:60px;
}
.profile-add_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.profile-add_column i{
    border: solid whitesmoke;
    padding:17px;
    border-radius: 50%;
    margin-bottom:15px;
}
.profile-add_column p{
    font-size:14px;
    color:gray;
    margin-top:7px;
    width:80%;
}
.profile-add_blue-btn{
    margin-top:100px;
    width:150px;
    height:28px;
    background-color:rgb(48, 140, 245);
    border-radius: 3px;
    border:0;
    font-size:16px;
    color:whitesmoke;
}